.card{
    position:relative;
    display:flex;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.12);
    border-radius:.25rem
}
.card>hr{
    margin-right:0;
    margin-left:0
}
.card>.list-group:first-child .list-group-item:first-child{
    border-top-left-radius:.25rem;
    border-top-right-radius:.25rem
}
.card>.list-group:last-child .list-group-item:last-child{
    border-bottom-right-radius:.25rem;
    border-bottom-left-radius:.25rem
}
.card-body{
    flex:1 1 auto;
    padding:1.25rem
}
.card-title{
    margin-bottom:.75rem
}
.card-subtitle{
    margin-top:-.375rem
}
.card-subtitle,.card-text:last-child{
    margin-bottom:0
}
.card-link:hover{
    text-decoration:none
}
.card-link+.card-link{
    margin-left:1.25rem
}
.card-header{
    padding:.75rem 1.25rem;
    margin-bottom:0;
    background-color:#fff;
    border-bottom:1px solid rgba(0,0,0,.12)
}
.card-header:first-child{
    border-radius:calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}
.card-header+.list-group .list-group-item:first-child{
    border-top:0
}
.card-footer{
    padding:.75rem 1.25rem;
    background-color:#fff;
    border-top:1px solid rgba(0,0,0,.12)
}
.card-footer:last-child{
    border-radius:0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}
.card-header-tabs{
    margin-bottom:-.75rem;
    border-bottom:0
}
.card-header-pills,.card-header-tabs{
    margin-right:-.625rem;
    margin-left:-.625rem
}
.card-img-overlay{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    padding:1.25rem
}
.card-img{
    width:100%;
    border-radius:calc(.25rem - 1px)
}
.card-img-top{
    width:100%;
    border-top-left-radius:calc(.25rem - 1px);
    border-top-right-radius:calc(.25rem - 1px)
}
.card-img-bottom{
    width:100%;
    border-bottom-right-radius:calc(.25rem - 1px);
    border-bottom-left-radius:calc(.25rem - 1px)
}
.card-deck{
    display:flex;
    flex-direction:column
}
.card-deck .card{
    margin-bottom:15px
}
@media (min-width:576px){
    .card-deck{
        flex-flow:row wrap;
        margin-right:-15px;
        margin-left:-15px
    }
    .card-deck .card{
        display:flex;
        flex:1 0 0%;
        flex-direction:column;
        margin-right:15px;
        margin-bottom:0;
        margin-left:15px
    }
}
.card-group{
    display:flex;
    flex-direction:column
}
.card-group>.card{
    margin-bottom:15px
}
@media (min-width:576px){
    .card-group{
        flex-flow:row wrap
    }
    .card-group>.card{
        flex:1 0 0%;
        margin-bottom:0
    }
    .card-group>.card+.card{
        margin-left:0;
        border-left:0
    }
    .card-group>.card:first-child{
        border-top-right-radius:0;
        border-bottom-right-radius:0
    }
    .card-group>.card:first-child .card-header,.card-group>.card:first-child .card-img-top{
        border-top-right-radius:0
    }
    .card-group>.card:first-child .card-footer,.card-group>.card:first-child .card-img-bottom{
        border-bottom-right-radius:0
    }
    .card-group>.card:last-child{
        border-top-left-radius:0;
        border-bottom-left-radius:0
    }
    .card-group>.card:last-child .card-header,.card-group>.card:last-child .card-img-top{
        border-top-left-radius:0
    }
    .card-group>.card:last-child .card-footer,.card-group>.card:last-child .card-img-bottom{
        border-bottom-left-radius:0
    }
    .card-group>.card:only-child{
        border-radius:.25rem
    }
    .card-group>.card:only-child .card-header,.card-group>.card:only-child .card-img-top{
        border-top-left-radius:.25rem;
        border-top-right-radius:.25rem
    }
    .card-group>.card:only-child .card-footer,.card-group>.card:only-child .card-img-bottom{
        border-bottom-right-radius:.25rem;
        border-bottom-left-radius:.25rem
    }
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child),.card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-footer,.card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-header,.card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,.card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-top{
        border-radius:0
    }
}
.card-columns .card{
    margin-bottom:.75rem
}
@media (min-width:576px){
    .card-columns{
        column-count:3;
        column-gap:1.25rem
    }
    .card-columns .card{
        display:inline-block;
        width:100%
    }
}
.card-collapse .card-header a i,.navbar{
    transition:all .15s ease 0s
}
.card-signup{
    padding-left:20px
}
.card-signup{
    padding-left:35px
}
.card-header{
    width:auto
}
.card-signup .card-body{
    padding-bottom:7px;
    margin:27px 0 0
}
.card-title,.footer-big h4,.footer-big h5,.footer-brand,.info-title,.media .media-heading,.title{
    font-weight:700;
    font-family: Open Sans, serif
}
.card-title,.card-title a,.footer-big h4,.footer-big h4 a,.footer-big h5,.footer-big h5 a,.footer-brand,.footer-brand a,.info-title,.info-title a,.media .media-heading,.media .media-heading a,.title,.title a{
    color:#000;
    text-decoration:none
}
.card-description,.description,.footer-big p{
    color:#999
}
.card-nav-tabs{
    margin-top:45px
}
.card-nav-tabs .card-header{
    margin-top:-30px!important
}
.card{
    border:0;
    margin-bottom:30px;
    margin-top:30px;
    border-radius:6px;
    color:rgba(0,0,0,.87);
    background:#fff;
    width:100%;
    box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
}
.card .card-category:not([class*=text-]){
    color:#999
}
.card .card-category{
    margin-top:10px
}
.card .card-category .material-icons{
    position:relative;
    top:8px;
    line-height:0
}
.card .form-check{
    margin-top:15px
}
.card .card-title{
    margin-top:.625rem
}
.card .card-title:last-child{
    margin-bottom:0
}
.card.no-shadow .card-header-image,.card.no-shadow .card-header-image img{
    box-shadow:none!important
}
.card .card-body,.card .card-footer{
    padding:.70rem 1.0rem
}
.card .card-body+.card-footer{
    padding-top:0;
    border:0;
    border-radius:6px
}
.card .card-footer{
    display:flex;
    align-items:center;
    background-color:transparent;
    border:0
}
.card .card-footer .author,.card .card-footer .stats{
    display:inline-flex
}
.card .card-footer .stats{
    color:#999
}
.card .card-footer .stats .material-icons{
    position:relative;
    top:3px;
    margin-right:3px;
    margin-left:3px;
    font-size:18px
}
.card.bmd-card-raised{
    box-shadow:0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2)
}
@media (min-width:992px){
    .card.bmd-card-flat{
        box-shadow:none
    }
}
.card .card-header{
    border-radius:3px;
    padding:1rem 15px;
    margin-left:15px;
    margin-right:15px;
    margin-top:-30px;
    border:0;
    background:linear-gradient(60deg,#eee,#bdbdbd)
}
.card .card-header .title{
    color:#fff
}
.card .card-header:not([class*=header-]){
    box-shadow:0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2)
}
.card .card-header .nav-tabs{
    padding:0
}
.card .card-header.card-header-image{
    position:relative;
    padding:0;
    z-index:1;
    margin-left:15px;
    margin-right:15px;
    margin-top:-30px;
    border-radius:6px
}
.card .card-header.card-header-image a{
    display:block
}
.card .card-header.card-header-image img{
    width:100%;
    border-radius:6px;
    pointer-events:none;
    box-shadow:0 5px 15px -8px rgba(0,0,0,.24),0 8px 10px -5px rgba(0,0,0,.2)
}
.card .card-header.card-header-image .card-title{
    position:absolute;
    bottom:15px;
    left:15px;
    color:#fff;
    font-size:1.125rem;
    text-shadow:0 2px 5px rgba(33,33,33,.5)
}
.card .card-header.card-header-image .colored-shadow{
    transform:scale(.94);
    top:12px;
    filter:blur(12px);
    position:absolute;
    width:100%;
    height:100%;
    background-size:cover;
    z-index:-1;
    transition:opacity .45s;
    opacity:0
}
.card .card-header.card-header-image.no-shadow{
    box-shadow:none
}
.card .card-header.card-header-image.no-shadow.shadow-normal{
    box-shadow:0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2)
}
.card .card-header.card-header-image.no-shadow .colored-shadow{
    display:none!important
}
.card.bg-primary,.card .card-header-primary,.card.card-rotate.bg-primary .back,.card.card-rotate.bg-primary .front{
    background:linear-gradient(60deg,#ab47bc,#7b1fa2)
}
.card.bg-info,.card .card-header-info,.card.card-rotate.bg-info .back,.card.card-rotate.bg-info .front{
    background:linear-gradient(60deg,#26c6da,#0097a7)
}
.card.bg-success,.card .card-header-success,.card.card-rotate.bg-success .back,.card.card-rotate.bg-success .front{
    background:linear-gradient(60deg,#66bb6a,#388e3c)
}
.card.bg-warning,.card .card-header-warning,.card.card-rotate.bg-warning .back,.card.card-rotate.bg-warning .front{
    background:linear-gradient(60deg,#ffa726,#f57c00)
}
.card.bg-danger,.card .card-header-danger,.card.card-rotate.bg-danger .back,.card.card-rotate.bg-danger .front{
    background:linear-gradient(60deg,#ef5350,#d32f2f)
}
.card.bg-rose,.card .card-header-rose,.card.card-rotate.bg-rose .back,.card.card-rotate.bg-rose .front{
    background:linear-gradient(60deg,#ec407a,#c2185b)
}
.card .card-header-primary{
    box-shadow:0 5px 20px 0 rgba(0,0,0,.2),0 13px 24px -11px rgba(156,39,176,.6)
}
.card .card-header-danger{
    box-shadow:0 5px 20px 0 rgba(0,0,0,.2),0 13px 24px -11px rgba(244,67,54,.6)
}
.card .card-header-rose{
    box-shadow:0 5px 20px 0 rgba(0,0,0,.2),0 13px 24px -11px rgba(233,30,99,.6)
}
.card .card-header-warning{
    box-shadow:0 5px 20px 0 rgba(0,0,0,.2),0 13px 24px -11px rgba(255,152,0,.6)
}
.card .card-header-info{
    box-shadow:0 5px 20px 0 rgba(0,0,0,.2),0 13px 24px -11px rgba(0,188,212,.6)
}
.card .card-header-success{
    box-shadow:0 5px 20px 0 rgba(0,0,0,.2),0 13px 24px -11px rgba(76,175,80,.6)
}
.card[class*=bg-],.card[class*=bg-] .card-title,.card[class*=bg-] .card-title a,.card[class*=bg-] .icon i,.card [class*=header-],.card [class*=header-] .card-title,.card [class*=header-] .card-title a,.card [class*=header-] .icon i{
    color:#fff
}
.card[class*=bg-] .icon i,.card [class*=header-] .icon i{
    border-color:hsla(0,0%,100%,.25)
}
.card[class*=bg-] .author a,.card[class*=bg-] .card-category,.card[class*=bg-] .card-description,.card[class*=bg-] .stats,.card [class*=header-] .author a,.card [class*=header-] .card-category,.card [class*=header-] .card-description,.card [class*=header-] .stats{
    color:hsla(0,0%,100%,.8)
}
.card[class*=bg-] .author a:active,.card[class*=bg-] .author a:focus,.card[class*=bg-] .author a:hover,.card [class*=header-] .author a:active,.card [class*=header-] .author a:focus,.card [class*=header-] .author a:hover{
    color:#fff
}
.card .author .avatar{
    width:30px;
    height:30px;
    overflow:hidden;
    border-radius:50%;
    margin-right:5px
}
.card .author a{
    color:#000;
    text-decoration:none
}
.card .author a .ripple-container{
    display:none
}
.card .card-category-social .fa{
    font-size:24px;
    position:relative;
    margin-top:-4px;
    top:2px;
    margin-right:5px
}
.card .card-category-social .material-icons{
    position:relative;
    top:5px
}
.card[class*=bg-],.card[class*=bg-] .card-body{
    border-radius:6px
}
.card[class*=bg-] .card-body h1 small,.card[class*=bg-] .card-body h2 small,.card[class*=bg-] .card-body h3 small,.card[class*=bg-] h1 small,.card[class*=bg-] h2 small,.card[class*=bg-] h3 small{
    color:hsla(0,0%,100%,.8)
}
.card .card-stats{
    background:transparent;
    display:flex
}
.card .card-stats .author,.card .card-stats .stats{
    display:inline-flex
}
@media (-ms-high-contrast:active),(-ms-high-contrast:none){
    .card{
        display:inline-block
    }
}
.card-carousel{
    overflow:hidden
}
.card-login .card-header{
    margin:-40px 20px 15px;
    padding:20px 0
}
.card-login .text-divider{
    margin-top:30px;
    margin-bottom:0;
    text-align:center
}
.card-login .card-body{
    padding:0 30px 0 10px
}
.card-login .form-check{
    padding-top:27px
}
.card-login .form-check label{
    margin-left:18px
}
.card-login .form-check .form-check-sign{
    padding-right:27px
}
.card-login .input-group{
    padding-bottom:7px;
    margin:27px 0 0
}
.card-login .form{
    min-height:420px
}
.card-login .social-line{
    margin-top:1rem;
    text-align:center;
    padding:0
}
.card-login .social-line .btn{
    color:#fff;
    margin-left:5px;
    margin-right:5px
}
.card-plain{
    background:transparent;
    box-shadow:none
}
.card-plain .card-header:not(.card-avatar){
    margin-left:0;
    margin-right:0
}
.card-plain .card-body{
    padding-left:5px;
    padding-right:5px
}
.card-plain .card-header-image{
    margin:0!important;
    border-radius:6px
}
.card-plain .card-header-image img{
    border-radius:6px
}
.card-plain .card-footer{
    padding-left:5px;
    padding-right:5px;
    background-color:transparent
}
.profile-page .connections .card-profile{
    text-align:left
}
.profile-page .tab-content .collections .card .card-body{
    display:flex;
    flex-direction:column;
    justify-content:center
}
.profile-page .tab-content .collections .card .card-body .badge{
    display:inline-table;
    margin:0 auto
}
@media screen and (min-width:767px){
    .bd-docs .bd-example .card.card-profile .card-header-image{
        max-height:100%!important
    }
    .card-profile .card-header-image{
        max-height:215px
    }
}
.text-muted{
    color:#6c757d!important
}

:root {
    --header-height: 56px;
    --site-width: 1280px;
    --su-1: 0.25rem;
    --su-2: 0.5rem;
    --su-3: 0.75rem;
    --su-4: 1rem;
    --su-5: 1.25rem;
    --su-6: 1.5rem;
    --su-7: 2rem;
    --su-8: 3rem;
    --su-9: 4rem;
    --su-10: 8rem;
    --radius: 0.375rem;
    --radius-large: 0.75rem;
    --radius-auto: Max(0px, Min(var(--radius), calc((100vw - 4px - 100%) * 9999))) /
    var(--radius);
    --radius-large-auto: Max(
            0px,
            Min(var(--radius-large), calc((100vw - 4px - 100%) * 9999))
    ) / var(--radius-large);
    --transition-func: cubic-bezier(0.17, 0.67, 0.5, 0.71);
    --transition-time: 100ms;
    --transition-props: var(--transition-func) var(--transition-time);
    --focus-ring: 0 0 0 2px var(--base-inverted), 0 0 0 4px var(--focus);
    --ff-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
    --ff-monospace: 'SF Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    Courier, monospace;
    --ff-serif: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua',
    Georgia, serif;
    --ff-comic: 'Comic Sans MS', cursive, sans-serif;
    --ff-dyslexic: OpenDyslexic, sans-serif;
    --fs-xs: 0.75rem;
    --fs-s: 0.875rem;
    --fs-base: 1rem;
    --fs-l: 1.125rem;
    --fs-xl: 1.25rem;
    --fs-2xl: 1.5rem;
    --fs-3xl: 1.875rem;
    --fs-4xl: 2.25rem;
    --fs-5xl: 3rem;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-heavy: 800;
    --lh-tight: 1.25;
    --lh-base: 1.5;
    --opacity-0: 0.00001;
    --opacity-25: 0.25;
    --opacity-50: 0.5;
    --opacity-75: 0.75;
    --opacity-100: 1;
    --z-negative: -1;
    --z-elevate: 1;
    --z-sticky: 100;
    --z-drawer: 200;
    --z-dropdown: 400;
    --z-modal: 500;
    --z-popover: 500;
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --grey-50: 250, 250, 250;
    --grey-100: 245, 245, 245;
    --grey-200: 229, 229, 229;
    --grey-300: 212, 212, 212;
    --grey-400: 163, 163, 163;
    --grey-500: 115, 115, 115;
    --grey-600: 82, 82, 82;
    --grey-700: 64, 64, 64;
    --grey-800: 38, 38, 38;
    --grey-900: 23, 23, 23;
    --red-50: 254, 242, 242;
    --red-100: 254, 226, 226;
    --red-200: 254, 202, 202;
    --red-300: 252, 165, 165;
    --red-400: 248, 113, 113;
    --red-500: 239, 68, 68;
    --red-600: 220, 38, 38;
    --red-700: 185, 28, 28;
    --red-800: 153, 27, 27;
    --red-900: 127, 29, 29;
    --yellow-50: 255, 251, 235;
    --yellow-100: 254, 243, 199;
    --yellow-200: 253, 230, 138;
    --yellow-300: 252, 211, 77;
    --yellow-400: 251, 191, 36;
    --yellow-500: 245, 158, 11;
    --yellow-600: 217, 119, 6;
    --yellow-700: 180, 83, 9;
    --yellow-800: 146, 64, 14;
    --yellow-900: 120, 53, 15;
    --green-50: 236, 253, 245;
    --green-100: 209, 250, 229;
    --green-200: 167, 243, 208;
    --green-300: 110, 231, 183;
    --green-400: 52, 211, 153;
    --green-500: 16, 185, 129;
    --green-600: 5, 150, 105;
    --green-700: 4, 120, 87;
    --green-800: 6, 95, 70;
    --green-900: 6, 78, 59;
    --indigo-50: 238, 242, 255;
    --indigo-100: 224, 231, 255;
    --indigo-200: 199, 210, 254;
    --indigo-300: 165, 180, 252;
    --indigo-400: 129, 140, 248;
    --indigo-500: 99, 102, 241;
    --indigo-600: 79, 70, 229;
    --indigo-700: 67, 56, 202;
    --indigo-800: 55, 48, 163;
    --indigo-900: 49, 46, 129;
    --accent-brand-lighter-rgb: var(--indigo-500);
    --accent-brand-rgb: var(--indigo-600);
    --accent-brand-darker-rgb: var(--indigo-700)
}

:root {
    --base: #090909;
    --base-inverted: rgb(var(--white));
    --base-100: var(--base);
    --base-90: #242424;
    --base-80: #3d3d3d;
    --base-70: #575757;
    --base-60: #717171;
    --base-50: #8a8a8a;
    --base-40: #a3a3a3;
    --base-30: #bdbdbd;
    --base-20: #d6d6d7;
    --base-10: #efefef;
    --base-0: #f9f9f9;
    --accent-brand-lighter: rgb(var(--accent-brand-lighter-rgb));
    --accent-brand: rgb(var(--accent-brand-rgb));
    --accent-brand-darker: rgb(var(--accent-brand-darker-rgb));
    --accent-success: rgb(var(--green-600));
    --accent-success-darker: rgb(var(--green-700));
    --accent-success-lighter: rgb(var(--green-500));
    --accent-success-a10: rgba(var(--green-600), 0.1);
    --accent-warning: rgb(var(--yellow-500));
    --accent-warning-darker: rgb(var(--yellow-600));
    --accent-warning-lighter: rgb(var(--yellow-400));
    --accent-warning-a10: rgba(var(--yellow-500), 0.1);
    --accent-danger: rgb(var(--red-600));
    --accent-danger-darker: rgb(var(--red-700));
    --accent-danger-lighter: rgb(var(--red-500));
    --accent-danger-a10: rgba(var(--red-600), 0.1);
    --body-bg: rgb(var(--grey-100));
    --body-color: rgb(var(--grey-900));
    --body-color-inverted: rgb(var(--white));
    --card-bg: rgb(var(--white));
    --card-color: rgb(var(--grey-900));
    --card-color-secondary: rgb(var(--grey-700));
    --card-color-tertiary: rgb(var(--grey-600));
    --card-secondary-bg: rgb(var(--grey-50));
    --card-secondary-color: rgb(var(--grey-700));
    --card-border: rgba(var(--grey-900), 0.1);
    --card-secondary-border: rgba(var(--grey-900), 0.05);
    --header-bg: rgb(var(--white));
    --header-shadow: rgba(var(--black), 0.1);
    --footer-bg: rgb(var(--grey-200));
    --footer-color: rgb(var(--grey-700));
    --link-bg-hover-alt: var(--base-inverted);
    --link-color-current: var(--base-100);
    --link-color-secondary: var(--base-60);
    --link-color-secondary-hover: var(--base-70);
    --link-bg-current: var(--base-inverted);
    --button-primary-bg: var(--accent-brand);
    --button-primary-bg-hover: var(--accent-brand-darker);
    --button-primary-color: var(--base-0);
    --button-primary-color-hover: var(--base-0);
    --button-primary-inverted-bg: var(--accent-brand);
    --button-primary-inverted-bg-hover: var(--accent-brand-darker);
    --button-primary-inverted-color: var(--base-0);
    --button-primary-inverted-color-hover: var(--base-0);
    --button-secondary-bg: var(--base-20);
    --button-secondary-bg-hover: var(--base-30);
    --button-secondary-color: var(--base-80);
    --button-secondary-color-hover: var(--base-100);
    --button-outlined-bg: transparent;
    --button-outlined-bg-hover: rgba(0, 0, 0, 0.035);
    --button-outlined-border: var(--base-20);
    --button-outlined-border-hover: var(--base-40);
    --button-outlined-color: var(--base-80);
    --button-outlined-color-hover: var(--base-100);
    --button-ghost-bg: transparent;
    --button-ghost-bg-hover: rgba(0, 0, 0, 0.035);
    --button-ghost-color: var(--base-80);
    --button-ghost-color-hover: var(--base-100);
    --button-ghost-dimmed-color: var(--base-60);
    --button-ghost-dimmed-color-hover: var(--base-100);
    --button-ghost-inverted-bg: transparent;
    --button-ghost-inverted-bg-hover: rgba(255, 255, 255, 0.15);
    --button-ghost-inverted-color: var(--base-30);
    --button-ghost-inverted-color-hover: var(--base-10);
    --button-ghost-dimmed-inverted-color: var(--base-50);
    --button-ghost-dimmed-inverted-color-hover: var(--base-100);
    --form-bg: rgb(var(--white));
    --form-bg-focus: rgb(var(--white));
    --form-border: rgb(var(--grey-300));
    --form-border-hover: rgb(var(--grey-400));
    --form-border-focus: var(--focus);
    --form-placeholder-color: rgb(var(--grey-600));
    --label-primary: rgb(var(--grey-900));
    --label-secondary: rgb(var(--grey-600));
    --snackbar-bg: rgb(var(--grey-900));
    --snackbar-color: rgb(var(--white));
    --tab-color: rgb(var(--grey-700));
    --tab-color-hover: var(--accent-brand);
    --tab-color-current: rgb(var(--grey-900));
    --tab-bg-hover: rgba(var(--accent-brand-rgb), 0.1);
    --tab-bg-current: rgb(var(--accent-brand));
    --tag-color: rgb(var(--grey-700));
    --tag-color-hover: rgb(var(--grey-900));
    --tag-bg: rgba(var(--grey-900), 0.05);
    --tag-bg-hover: rgba(var(--grey-900), 0.05);
    --tag-prefix: rgba(var(--grey-900), 0.6);
    --tag-prefix-hover: rgb(var(--grey-900));
    --story-comments-bg: rgb(var(--grey-50));
    --story-comments-bg-top: rgba(var(--grey-50), 0);
    --story-comments-bg-bottom: rgba(var(--grey-50), 1);
    --select-icon: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDE2TDYgMTBIMThMMTIgMTZaIiBmaWxsPSIjMDgwOTBBIi8+Cjwvc3ZnPg==);
    --reaction-like-color: rgb(var(--red-600));
    --reaction-like-bg: rgba(var(--red-600), 0.1);
    --reaction-custom-color: rgb(var(--green-600));
    --reaction-custom-bg: rgb(var(--green-600), 0.1);
    --reaction-save-color: rgb(var(--indigo-600));
    --reaction-save-bg: rgba(var(--indigo-600), 0.1);
    --reaction-comment-color: rgb(var(--yellow-500));
    --reaction-comment-bg: rgba(var(--yellow-500), 0.1)
}

:root {
    --btn-bg: transparent;
    --btn-bg-hover: rgba(var(--accent-brand-rgb), 0.1);
    --btn-color: rgb(var(--grey-800));
    --btn-color-hover: var(--accent-brand-darker);
    --btn-current-bg: rgb(var(--grey-200));
    --btn-current-color: rgb(var(--grey-900));
    --btn-primary-bg: var(--accent-brand);
    --btn-primary-bg-hover: var(--accent-brand-darker);
    --btn-primary-color: rgb(var(--white));
    --btn-primary-color-hover: rgb(var(--white));
    --btn-secondary-bg: rgba(var(--accent-brand-rgb), 0.1);
    --btn-secondary-bg-hover: var(--accent-brand);
    --btn-secondary-color: var(--accent-brand);
    --btn-secondary-color-hover: rgb(var(--white));
    --btn-destructive-bg: transparent;
    --btn-destructive-bg-hover: rgba(var(--red-600), 0.1);
    --btn-destructive-color: rgb(var(--red-700));
    --btn-destructive-color-hover: rgb(var(--red-800));
    --btn-primary-destructive-bg: rgb(var(--red-600));
    --btn-primary-destructive-bg-hover: rgb(var(--red-700));
    --btn-primary-destructive-color: rgb(var(--white));
    --btn-primary-destructive-color-hover: rgb(var(--white));
    --link-bg: transparent;
    --link-bg-hover: rgba(var(--accent-brand-rgb), 0.1);
    --link-color: rgb(var(--grey-700));
    --link-color-hover: var(--accent-brand-darker);
    --link-current-bg: rgb(var(--grey-200));
    --link-current-color: rgb(var(--grey-900));
    --link-branded-bg: transparent;
    --link-branded-bg-hover: rgba(var(--accent-brand-rgb), 0.1);
    --link-branded-color: var(--accent-brand);
    --link-branded-color-hover: var(--accent-brand-darker);
    --cta-bg: transparent;
    --cta-bg-hover: rgba(var(--accent-brand-rgb), 0.1);
    --cta-color: rgb(var(--grey-800));
    --cta-color-hover: var(--accent-brand-darker);
    --cta-border: rgb(var(--grey-600));
    --cta-border-hover: var(--accent-brand-darker);
    --cta-branded-bg: transparent;
    --cta-branded-bg-hover: var(--accent-brand);
    --cta-branded-color: var(--accent-brand);
    --cta-branded-color-hover: rgb(var(--white));
    --cta-branded-border: var(--accent-brand);
    --cta-branded-border-hover: var(--accent-brand-darker);
    --tooltip-bg: rgba(var(--grey-900), 0.9);
    --tooltip-color: rgb(var(--white));
    --indicator-bg: rgb(var(--grey-300));
    --indicator-color: rgb(var(--grey-700));
    --indicator-success-bg: rgb(var(--green-400));
    --indicator-success-color: rgb(var(--green-900));
    --indicator-warning-bg: rgb(var(--yellow-300));
    --indicator-warning-color: rgb(var(--yellow-900));
    --indicator-danger-bg: rgb(var(--red-600));
    --indicator-danger-color: rgb(var(--white));
    --indicator-info-bg: var(--accent-brand);
    --indicator-info-color: rgb(var(--white));
    --list-item-bg-hover: rgb(var(--grey-50));
    --modal-bg: rgb(var(--white));
    --modal-backdrop: rgba(var(--black), 0.6);
    --modal-danger-border-color: rgb(var(--red-500));
    --color-primary: rgb(var(--grey-900));
    --color-secondary: rgb(var(--grey-500));
    --pill-bg: transparent;
    --pill-bg-hover: rgb(var(--grey-50));
    --pill-color: rgb(var(--grey-800));
    --pill-color-hover: rgb(var(--grey-900));
    --pill-border: rgb(var(--grey-200));
    --pill-border-hover: rgb(var(--grey-600));
    --swatch-border-color: rgb(var(--black), 0.2);
    --focus: var(--accent-brand);
    --divider: rgb(var(--grey-200));
    --shadow-1: 0 10px 15px -3px rgba(var(--black), 0.1),
    0 4px 6px -2px rgba(var(--black), 0.05), 0 0 0 1px rgba(var(--black), 0.1);
    --shadow-2: 0 20px 25px -5px rgba(var(--black), 0.1),
    0 10px 10px -5px rgba(var(--black), 0.05), 0 0 0 1px rgba(var(--black), 0.1)
}

a {
    text-decoration: none
}

.crayons-table td, .crayons-table th {
    padding: var(--su-2)
}

@media (min-width: 768px) {
    .crayons-table td, .crayons-table th {
        padding: var(--su-3)
    }
}

@media (min-width: 1024px) {
    .crayons-table td, .crayons-table th {
        padding: var(--su-4)
    }
}

.crayons-table--compact td, .crayons-table--compact th {
    padding: var(--su-2)
}

@media (min-width: 768px) {
    .crayons-table--compact td, .crayons-table--compact th {
        padding: var(--su-2)
    }
}

@media (min-width: 1024px) {
    .crayons-table--compact td, .crayons-table--compact th {
        padding: var(--su-2)
    }
}

.crayons-table td {
    transition: background var(--transition-props);
    border-bottom: 1px solid var(--body-bg)
}

.crayons-table thead {
    border-radius: var(--radius) var(--radius) 0 0
}

.crayons-table th {
    font-size: var(--fs-xs);
    font-weight: var(--fw-medium);
    text-transform: uppercase;
    color: var(--base-60)
}

.crayons-table th:first-child {
    border-radius: var(--radius) 0 0 0
}

.crayons-table th:last-child {
    border-radius: 0 var(--radius) 0 0
}

.crayons-table tbody tr:first-child td:first-child {
    border-radius: var(--radius) 0 0 0
}

.crayons-table tbody tr:first-child td:last-child {
    border-radius: 0 var(--radius) 0 0
}

.crayons-table tbody tr:last-child td {
    border-bottom: none
}

.crayons-table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 var(--radius)
}

.crayons-table tbody tr:last-child td:last-child {
    border-radius: 0 0 var(--radius) 0
}

.crayons-table tbody tr:only-child td:first-child {
    border-radius: var(--radius) 0 0 var(--radius)
}

.crayons-table tbody tr:only-child td:last-child {
    border-radius: 0 var(--radius) var(--radius) 0
}

.crayons-table tbody tr:hover td {
    background: var(--card-secondary-bg)
}

.crayons-tabs {
    --border-width: 3px;
    --tab-vertical-padding: var(--su-2);
    --tab-horizontal-padding: var(--su-2);
    --font-size: var(--fs-base);
    display: flex
}

@media (min-width: 640px) {
    .crayons-tabs {
        --tab-vertical-padding: var(--su-2)
    }
}

.crayons-tabs--scrollable {
    overflow-x: auto;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap
}

.crayons-tabs__list {
    list-style: none;
    display: flex;
    width: 100%
}

.crayons-tabs__list li {
    width: 100%
}

.crayons-tabs__item {
    padding: var(--tab-vertical-padding) var(--tab-horizontal-padding);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size);
    line-height: var(--su-6);
    text-decoration: none;
    cursor: pointer;
    color: var(--tab-color);
    position: relative;
    border-radius: var(--radius);
    transition: all var(--transition-props);
    width: 100%;
    border: none;
    background: transparent
}

@media (min-width: 640px) {
    .crayons-tabs__item {
        width: auto;
        margin: 0 var(--su-1)
    }
}

.crayons-tabs__item::before {
    content: attr(data-text);
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    font-weight: var(--fw-medium)
}

@media speech {
    .crayons-tabs__item::before {
        display: none
    }
}

.crayons-tabs__item::after {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--border-width);
    content: '';
    background: var(--tab-bg-current);
    border-radius: var(--radius);
    transition: all var(--transition-props)
}

@media (min-width: 640px) {
    .crayons-tabs__item::after {
        left: var(--tab-horizontal-padding);
        right: var(--tab-horizontal-padding)
    }
}

.crayons-tabs__item:hover {
    background: var(--tab-bg-hover);
    color: var(--tab-color-hover)
}

.crayons-tabs__item:hover:after {
    left: 0;
    right: 0;
    border-radius: 0 0 var(--radius) var(--radius)
}

.crayons-tabs__item--current {
    font-weight: var(--fw-medium);
    color: var(--tab-color-current)
}

.crayons-tabs__item--current::after {
    display: block
}

.crayons-tabs--wrapped {
    flex-wrap: wrap
}

.crayons-tabs--wrapped .crayons-tabs__list li {
    width: auto
}

.crayons-tabs--wrapped .crayons-tabs__item {
    margin: var(--su-1);
    width: auto
}

.crayons-navigation {
    --tab-horizontal-padding: var(--su-3);
    --tab-vertical-padding: var(--su-2);
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding: var(--su-1) 0 !important;
    margin: calc(-1 * var(--su-1)) 0 !important
}

@media (min-width: 640px) {
    .crayons-navigation {
        display: block;
        overflow-x: unset
    }
}

.crayons-navigation__item {
    display: inline-flex;
    white-space: nowrap;
    padding: var(--tab-vertical-padding) var(--tab-horizontal-padding);
    color: var(--base-70);
    position: relative;
    border-radius: var(--radius)
}

@media (min-width: 640px) {
    .crayons-navigation__item {
        display: flex;
        color: var(--base-90);
        white-space: unset;
        padding: var(--tab-vertical-padding) var(--tab-vertical-padding)
    }

    .crayons-navigation__item:hover {
        color: var(--accent-brand);
        background: var(--base-inverted)
    }
}

.crayons-navigation__item--current {
    font-weight: var(--fw-bold);
    color: var(--base-100)
}

@media (min-width: 640px) {
    .crayons-navigation__item--current {
        background: var(--base-inverted)
    }

    .crayons-navigation__item--current:hover {
        background: var(--base-inverted)
    }
}

@media (min-width: 640px) {
    .crayons-navigation--horizontal {
        display: flex
    }
}

@media (min-width: 640px) {
    .crayons-navigation--horizontal .crayons-navigation__item {
        display: inline-flex;
        color: var(--base-70);
        padding: var(--tab-vertical-padding) var(--tab-horizontal-padding)
    }
}

.crayons-navigation--horizontal .crayons-navigation__item:hover {
    color: var(--accent-brand)
}

.crayons-navigation--horizontal .crayons-navigation__item--current {
    color: var(--base-100);
    background: none
}

.crayons-navigation--horizontal .crayons-navigation__item--current:hover {
    background: var(--base-inverted)
}

.crayons-tag {
    background: transparent;
    color: var(--tag-color);
    border-radius: var(--radius);
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    flex-wrap: nowrap;
    transition: all var(--transition-props);
    padding: clamp(var(--su-1), 0.25em, 0.5em) 0.5em
}

.crayons-tag__prefix {
    color: var(--tag-prefix);
    transition: all var(--transition-props);
    flex-shrink: 0
}

.crayons-tag--filled {
    background: var(--tag-bg);
    color: var(--tag-color-hover)
}

.crayons-tag--monochrome .crayons-tag__prefix {
    color: var(--tag-prefix)
}

.crayons-tag:hover, .crayons-tag:focus {
    background: var(--tag-bg-hover);
    color: var(--tag-color-hover);
    box-shadow: inset 0 0 0 1px var(--tag-bg-hover), inset 0 0 0 1px var(--tag-bg-hover), inset 0 0 0 1px var(--tag-bg-hover)
}

.crayons-tag:hover .crayons-tag__prefix, .crayons-tag:focus .crayons-tag__prefix {
    color: var(--tag-prefix-hover)
}

.crayons-tooltip__content, .crayons-hover-tooltip[data-tooltip]:after {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, calc(-1 * var(--su-1)));
    background: var(--tooltip-bg);
    color: var(--tooltip-color);
    font-size: var(--fs-s);
    font-family: var(--ff-sans-serif);
    font-weight: var(--fw-normal);
    line-height: var(--lh-tight);
    padding: var(--su-2) var(--su-3);
    transition: all var(--transition-props);
    transition-delay: 250ms;
    z-index: var(--z-popover);
    border-radius: var(--radius);
    width: max-content;
    opacity: var(--opacity-0);
    pointer-events: none
}

.js-focus-visible .crayons-tooltip__activator.focus-visible:focus .crayons-tooltip__content:not(.crayons-tooltip__suppressed), .js-focus-visible .crayons-tooltip__activator.focus-visible:focus .crayons-hover-tooltip[data-tooltip]:not(.crayons-tooltip__suppressed):after, .crayons-tooltip__activator:hover .crayons-tooltip__content:not(.crayons-tooltip__suppressed), .crayons-tooltip__activator:hover .crayons-hover-tooltip[data-tooltip]:not(.crayons-tooltip__suppressed):after {
    opacity: 1;
    transition-delay: 0;
    transform: translate(-50%, var(--su-1))
}

.crayons-hover-tooltip[data-tooltip] {
    position: relative
}

.crayons-hover-tooltip[data-tooltip]:after {
    content: attr(data-tooltip);
    left: 0;
    bottom: 100%;
    top: unset;
    transform: translateY(var(--su-1));
    pointer-events: none
}

.crayons-hover-tooltip[data-tooltip]:hover:after {
    opacity: 1;
    transform: translateY(calc(-1 * var(--su-1)));
    transition-delay: 0s
}

.crayons-mobile-drawer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: var(--z-modal)
}

.crayons-mobile-drawer__overlay {
    background: var(--base-100);
    opacity: 0.5;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.crayons-mobile-drawer__content {
    width: 100%;
    max-width: 500px;
    background: var(--card-bg);
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    padding: var(--su-4);
    border-radius: var(--radius) var(--radius) 0 0;
    transform: translateY(100%) translateX(-50%);
    animation: slideIn 0.3s ease-in-out forwards
}